sudo: false
language: php
services: postgres
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  - ENV=travis

before_script:
  - psql -f ./db/container-files/docker-entrypoint-initdb.d/db.sql -U postgres
  - cd ./base/src
  - composer install
script:
  - phpunit
