db:
    build: db
    command: psql --help
base:
    build: app
app:
    image: phpgeolocation_base
    command: php -S 0.0.0.0:80
    ports:
        - "80:80"
    links:
        - db:db
test:
    image: phpgeolocation_base
    command: phpunit ./tests
