web:
    image: ihsw/php-geolocation-web
    command: nginx
    ports:
        - 80:80
    links:
        - php-fpm:php-fpm

db:
    image: ihsw/php-geolocation-db
    command: postgres

php-fpm:
    image: ihsw/php-geolocation-php-fpm
    command: php5-fpm -F
    environment:
        - ENV=local
    links:
        - db:db
test:
    image: ihsw/php-geolocation-php-fpm
    command: ./run-tests.sh
    environment:
        ENV: local
    links:
        - db:db
